@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .infoText {
    @apply max-w-[300px] rounded-lg bg-gray-700/50 p-4;
  }

  .chatRow {
    @apply flex cursor-pointer items-center justify-center space-x-2 rounded-lg px-5 py-3 text-sm 
      text-gray-300 transition-all duration-200 ease-out hover:bg-gray-700/70;
  }
}
